################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Khalid.Core.Framework/bin
/Khalid.Core.Framework/obj
